@{
    ViewBag.Title = "Lmyc";
}

<div class="jumbotron">
    <img  src="~/Content/logo.png" alt="logos"/>
    <h2>WELCOME TO LMYC ORGANIZATION</h2>
    <p class="lead">The Lower Mainland Yacht Cooperative (LMYC) is a provincially registered and regulated non-profit organization, which is owned and operated by its members. LMYC is governed by the British Columbia Co-operative Act.</p>
    <p><a href="http://www.lmyc.ca/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About us</h2>
        <p>
            The mission and purpose of the Lower Mainland Yacht co-op is to promote Affordable, Safe and Enjoyable recreational sailing.</br>
            As a co-op, it is possible to provide boats, equipment and sailing skill development at a fraction of the cost of any
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/boat1.jpg" alt="BOAT"/>
    </div>
</div>