@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users)
            <p>This does not work :(</p>
        </th>
        <th></th>
    </tr>
 </table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
